USE [dbProiectATI]
GO
/****** Object:  Table [dbo].[AddressLine]    Script Date: 8/23/2023 5:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddressLine](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Street] [nvarchar](100) NOT NULL,
	[Block] [nvarchar](100) NULL,
	[Number] [int] NOT NULL,
	[Entrance] [nvarchar](100) NULL,
	[PostalCode] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 8/23/2023 5:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CountryId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 8/23/2023 5:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[UserId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Review] [nvarchar](2500) NULL,
	[Mark] [int] NULL,
	[LastModifiedBy] [int] NULL,
	[DeletedBy] [int] NULL,
	[LastModifiedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 8/23/2023 5:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[ISO] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Currency]    Script Date: 8/23/2023 5:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currency](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](250) NULL,
	[Code] [nvarchar](10) NULL,
	[currency_symbol] [nvarchar](10) NULL,
	[exchange_rate] [decimal](5, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dimensions]    Script Date: 8/23/2023 5:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dimensions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BustSize] [decimal](10, 2) NULL,
	[WaistSize] [decimal](10, 2) NULL,
	[HipSize] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FavoriteProducts]    Script Date: 8/23/2023 5:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriteProducts](
	[UserId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[DateAddFavProduct] [date] NULL,
 CONSTRAINT [PK_FavoriteProducts] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 8/23/2023 5:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Total] [decimal](10, 2) NULL,
	[OrderTime] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 8/23/2023 5:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[NumberOfItemsBought] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentType]    Script Date: 8/23/2023 5:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Card] [nvarchar](20) NULL,
	[Repay] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 8/23/2023 5:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 8/23/2023 5:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[CurrencyId] [int] NOT NULL,
	[StockNo] [int] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ModifiedAt] [datetime] NOT NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[ProductDiscount] [int] NOT NULL,
	[ProductInventory] [int] NOT NULL,
	[ProductDimensions] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDiscount]    Script Date: 8/23/2023 5:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDiscount](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Description] [nvarchar](500) NULL,
	[DiscountPercent] [decimal](10, 2) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [smalldatetime] NULL,
	[ModifiedAt] [smalldatetime] NULL,
	[DeletedAt] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 8/23/2023 5:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [int] NOT NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 8/23/2023 5:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[RoleId] [int] NOT NULL,
	[PermissionId] [int] NOT NULL,
 CONSTRAINT [PK_RolePermissions] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestTable]    Script Date: 8/23/2023 5:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestTable](
	[Id] [bigint] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TestTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 8/23/2023 5:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](500) NOT NULL,
	[LastName] [nvarchar](500) NOT NULL,
	[PasswordHash] [nvarchar](2500) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Telephone] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ModifiedAt] [datetime] NOT NULL,
	[ChatColor] [nvarchar](100) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[birthDate] [date] NULL,
	[Image] [varchar](100) NULL,
 CONSTRAINT [PK__User__3214EC07B648AA78] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAddress]    Script Date: 8/23/2023 5:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAddress](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[AddressLineId] [int] NOT NULL,
	[CountryId] [int] NOT NULL,
	[CityId] [int] NOT NULL,
	[MobileNo] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDimensions]    Script Date: 8/23/2023 5:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDimensions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[DimensionsId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPayment]    Script Date: 8/23/2023 5:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPayment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PaymentTypeId] [int] NOT NULL,
	[Provider] [nvarchar](100) NULL,
	[AccountNo] [nvarchar](100) NULL,
	[Expiry] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProducts]    Script Date: 8/23/2023 5:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProducts](
	[UserId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[AddDate] [datetime] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK__UserProd__DCC80020C4D6F8A4] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 8/23/2023 5:23:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[RoleId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Comment] ([UserId], [ProductId], [Review], [Mark], [LastModifiedBy], [DeletedBy], [LastModifiedAt], [DeletedAt]) VALUES (1, 3, N'very pleased about the product', 5, 1, 1, CAST(N'2023-08-16T11:07:47.687' AS DateTime), CAST(N'2023-08-16T11:07:47.687' AS DateTime))
INSERT [dbo].[Comment] ([UserId], [ProductId], [Review], [Mark], [LastModifiedBy], [DeletedBy], [LastModifiedAt], [DeletedAt]) VALUES (2, 4, N'quite pleased about the product', 4, 1, 1, CAST(N'2023-08-16T11:07:47.687' AS DateTime), CAST(N'2023-08-16T11:07:47.687' AS DateTime))
INSERT [dbo].[Comment] ([UserId], [ProductId], [Review], [Mark], [LastModifiedBy], [DeletedBy], [LastModifiedAt], [DeletedAt]) VALUES (3, 5, N'I do not like the product', 1, 1, 1, CAST(N'2023-08-16T11:07:47.687' AS DateTime), CAST(N'2023-08-16T11:07:47.687' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Currency] ON 

INSERT [dbo].[Currency] ([Id], [FullName], [Code], [currency_symbol], [exchange_rate]) VALUES (1, N'euro', N'eur', N'€', CAST(4.960 AS Decimal(5, 3)))
INSERT [dbo].[Currency] ([Id], [FullName], [Code], [currency_symbol], [exchange_rate]) VALUES (2, N'dollar', N'usd', N'$', CAST(4.520 AS Decimal(5, 3)))
SET IDENTITY_INSERT [dbo].[Currency] OFF
GO
INSERT [dbo].[FavoriteProducts] ([UserId], [ProductId], [DateAddFavProduct]) VALUES (1036, 3, CAST(N'2023-08-18' AS Date))
INSERT [dbo].[FavoriteProducts] ([UserId], [ProductId], [DateAddFavProduct]) VALUES (1036, 4, CAST(N'2023-08-18' AS Date))
INSERT [dbo].[FavoriteProducts] ([UserId], [ProductId], [DateAddFavProduct]) VALUES (1036, 5, CAST(N'2023-08-18' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Name], [Description], [Price], [CurrencyId], [StockNo], [IsDeleted], [CreatedAt], [ModifiedAt], [DeletedAt], [CreatedBy], [ModifiedBy], [ProductDiscount], [ProductInventory], [ProductDimensions]) VALUES (3, N'T-Shirt1', N'tricoul alb', CAST(3.14 AS Decimal(10, 2)), 1, 2, 0, CAST(N'2023-08-16T10:06:35.430' AS DateTime), CAST(N'2023-08-16T10:06:35.430' AS DateTime), CAST(N'2023-08-16T10:06:35.430' AS DateTime), 1, 1, 2, 1, 1)
INSERT [dbo].[Product] ([Id], [Name], [Description], [Price], [CurrencyId], [StockNo], [IsDeleted], [CreatedAt], [ModifiedAt], [DeletedAt], [CreatedBy], [ModifiedBy], [ProductDiscount], [ProductInventory], [ProductDimensions]) VALUES (4, N'T-Shirt1', N'tricoul alb', CAST(3.14 AS Decimal(10, 2)), 1, 2, 0, CAST(N'2023-08-16T10:06:35.430' AS DateTime), CAST(N'2023-08-16T10:06:35.430' AS DateTime), CAST(N'2023-08-16T10:06:35.430' AS DateTime), 1, 1, 2, 1, 1)
INSERT [dbo].[Product] ([Id], [Name], [Description], [Price], [CurrencyId], [StockNo], [IsDeleted], [CreatedAt], [ModifiedAt], [DeletedAt], [CreatedBy], [ModifiedBy], [ProductDiscount], [ProductInventory], [ProductDimensions]) VALUES (5, N'T-Shirt1', N'tricoul alb', CAST(3.14 AS Decimal(10, 2)), 1, 2, 0, CAST(N'2023-08-16T10:06:35.430' AS DateTime), CAST(N'2023-08-16T10:06:35.430' AS DateTime), CAST(N'2023-08-16T10:06:35.430' AS DateTime), 1, 1, 2, 1, 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[ProductDiscount] ([Id], [Name], [Description], [DiscountPercent], [IsActive], [CreatedAt], [ModifiedAt], [DeletedAt]) VALUES (1, N'discount 1', N'primul meu discount', CAST(2.55 AS Decimal(10, 2)), 1, CAST(N'2023-08-16T10:06:00' AS SmallDateTime), CAST(N'2023-08-16T10:06:00' AS SmallDateTime), CAST(N'2023-08-16T10:06:00' AS SmallDateTime))
INSERT [dbo].[ProductDiscount] ([Id], [Name], [Description], [DiscountPercent], [IsActive], [CreatedAt], [ModifiedAt], [DeletedAt]) VALUES (2, N'discount 2', N'second discount', CAST(3.50 AS Decimal(10, 2)), 1, CAST(N'2023-08-16T10:06:00' AS SmallDateTime), CAST(N'2023-08-16T10:06:00' AS SmallDateTime), CAST(N'2023-08-16T10:06:00' AS SmallDateTime))
INSERT [dbo].[ProductDiscount] ([Id], [Name], [Description], [DiscountPercent], [IsActive], [CreatedAt], [ModifiedAt], [DeletedAt]) VALUES (3, N'discount 3', N'third discount', CAST(5.55 AS Decimal(10, 2)), 0, CAST(N'2023-08-16T10:06:00' AS SmallDateTime), CAST(N'2023-08-16T10:06:00' AS SmallDateTime), CAST(N'2023-08-16T10:06:00' AS SmallDateTime))
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [FirstName], [LastName], [PasswordHash], [Email], [Telephone], [CreatedAt], [ModifiedAt], [ChatColor], [IsDeleted], [CreatedBy], [ModifiedBy], [birthDate], [Image]) VALUES (1, N'Friederike', N'Colliver', N'nW9"0GR@''zVJd|', N'fcolliver0@redcross.org', N'2505920699', CAST(N'2023-07-18T00:00:00.000' AS DateTime), CAST(N'2023-06-23T00:00:00.000' AS DateTime), N'#6b6659', 1, 1, 1, NULL, NULL)
INSERT [dbo].[User] ([Id], [FirstName], [LastName], [PasswordHash], [Email], [Telephone], [CreatedAt], [ModifiedAt], [ChatColor], [IsDeleted], [CreatedBy], [ModifiedBy], [birthDate], [Image]) VALUES (2, N'Lodovico', N'Martyn', N'jP4=+$m#4%', N'lmartyn1@gov.uk', N'3996640781', CAST(N'2022-12-03T00:00:00.000' AS DateTime), CAST(N'2022-09-05T00:00:00.000' AS DateTime), N'#29cf81', 1, 2, 2, NULL, NULL)
INSERT [dbo].[User] ([Id], [FirstName], [LastName], [PasswordHash], [Email], [Telephone], [CreatedAt], [ModifiedAt], [ChatColor], [IsDeleted], [CreatedBy], [ModifiedBy], [birthDate], [Image]) VALUES (3, N'Cortney', N'Sanderson', N'yP4!`}k2z8Z', N'csanderson2@rakuten.co.jp', N'3488051277', CAST(N'2023-06-08T00:00:00.000' AS DateTime), CAST(N'2022-11-24T00:00:00.000' AS DateTime), N'#338d13', 0, 3, 3, NULL, NULL)
GO
INSERT [dbo].[User] ([Id], [FirstName], [LastName], [PasswordHash], [Email], [Telephone], [CreatedAt], [ModifiedAt], [ChatColor], [IsDeleted], [CreatedBy], [ModifiedBy], [birthDate], [Image]) VALUES (105, N'Hermione', N'Lampe', N'yL6_"TEy3Q\', N'hlampe2w@biglobe.ne.jp', N'3387826133', CAST(N'2022-10-21T00:00:00.000' AS DateTime), CAST(N'2023-04-06T00:00:00.000' AS DateTime), N'#084643', 0, 105, 105, NULL, NULL)
INSERT [dbo].[User] ([Id], [FirstName], [LastName], [PasswordHash], [Email], [Telephone], [CreatedAt], [ModifiedAt], [ChatColor], [IsDeleted], [CreatedBy], [ModifiedBy], [birthDate], [Image]) VALUES (150, N'Nikolaos', N'Croxley', N'nF9=6+{Od%HJ''$B\', N'ncroxley45@google.co.uk', N'6937185243', CAST(N'2023-01-15T00:00:00.000' AS DateTime), CAST(N'2022-10-01T00:00:00.000' AS DateTime), N'#83d5ac', 1, 150, 150, NULL, NULL)
INSERT [dbo].[User] ([Id], [FirstName], [LastName], [PasswordHash], [Email], [Telephone], [CreatedAt], [ModifiedAt], [ChatColor], [IsDeleted], [CreatedBy], [ModifiedBy], [birthDate], [Image]) VALUES (166, N'Milka', N'Eadmeads', N'dB5"emU\', N'meadmeads4l@plala.or.jp', N'0834339145', CAST(N'2022-09-05T00:00:00.000' AS DateTime), CAST(N'2022-08-09T00:00:00.000' AS DateTime), N'#d1add9', 1, 166, 166, NULL, NULL)
GO
INSERT [dbo].[User] ([Id], [FirstName], [LastName], [PasswordHash], [Email], [Telephone], [CreatedAt], [ModifiedAt], [ChatColor], [IsDeleted], [CreatedBy], [ModifiedBy], [birthDate], [Image]) VALUES (219, N'Arther', N'Shirrell', N'lF6?&W|\', N'ashirrell62@theatlantic.com', N'5033114107', CAST(N'2023-02-16T00:00:00.000' AS DateTime), CAST(N'2022-11-08T00:00:00.000' AS DateTime), N'#a949f6', 0, 219, 219, NULL, NULL)
INSERT [dbo].[User] ([Id], [FirstName], [LastName], [PasswordHash], [Email], [Telephone], [CreatedAt], [ModifiedAt], [ChatColor], [IsDeleted], [CreatedBy], [ModifiedBy], [birthDate], [Image]) VALUES (270, N'Boy', N'Cardenas', N'pM0.rN#+W\', N'bcardenas7h@4shared.com', N'4555300432', CAST(N'2022-12-24T00:00:00.000' AS DateTime), CAST(N'2023-05-23T00:00:00.000' AS DateTime), N'#844200', 1, 270, 270, NULL, NULL)
GO
INSERT [dbo].[User] ([Id], [FirstName], [LastName], [PasswordHash], [Email], [Telephone], [CreatedAt], [ModifiedAt], [ChatColor], [IsDeleted], [CreatedBy], [ModifiedBy], [birthDate], [Image]) VALUES (330, N'Beck', N'Crowcum', N'eN8=hK6v}/\', N'bcrowcum95@seattletimes.com', N'5777907466', CAST(N'2023-06-11T00:00:00.000' AS DateTime), CAST(N'2023-05-22T00:00:00.000' AS DateTime), N'#12edb6', 1, 330, 330, NULL, NULL)
GO
INSERT [dbo].[User] ([Id], [FirstName], [LastName], [PasswordHash], [Email], [Telephone], [CreatedAt], [ModifiedAt], [ChatColor], [IsDeleted], [CreatedBy], [ModifiedBy], [birthDate], [Image]) VALUES (462, N'Paolo', N'Bubbins', N'zK3(uaY(\', N'pbubbinsct@sohu.com', N'3588610359', CAST(N'2022-08-21T00:00:00.000' AS DateTime), CAST(N'2022-10-05T00:00:00.000' AS DateTime), N'#5e3d92', 1, 462, 462, NULL, NULL)
GO
INSERT [dbo].[User] ([Id], [FirstName], [LastName], [PasswordHash], [Email], [Telephone], [CreatedAt], [ModifiedAt], [ChatColor], [IsDeleted], [CreatedBy], [ModifiedBy], [birthDate], [Image]) VALUES (513, N'Reeba', N'Petley', N'iG0~2<z)55Yu?\', N'rpetleye8@tamu.edu', N'7934088809', CAST(N'2023-07-26T00:00:00.000' AS DateTime), CAST(N'2022-09-14T00:00:00.000' AS DateTime), N'#b07752', 1, 513, 513, NULL, NULL)
INSERT [dbo].[User] ([Id], [FirstName], [LastName], [PasswordHash], [Email], [Telephone], [CreatedAt], [ModifiedAt], [ChatColor], [IsDeleted], [CreatedBy], [ModifiedBy], [birthDate], [Image]) VALUES (583, N'Rosalia', N'Benion', N'lY0''nqI>Q*P\', N'rbeniong6@mediafire.com', N'7944216214', CAST(N'2023-07-13T00:00:00.000' AS DateTime), CAST(N'2023-04-04T00:00:00.000' AS DateTime), N'#5646f2', 0, 583, 583, NULL, NULL)
GO
INSERT [dbo].[User] ([Id], [FirstName], [LastName], [PasswordHash], [Email], [Telephone], [CreatedAt], [ModifiedAt], [ChatColor], [IsDeleted], [CreatedBy], [ModifiedBy], [birthDate], [Image]) VALUES (633, N'Patty', N'Joye', N'xM4<4K?mz&&>YZ\', N'pjoyehk@godaddy.com', N'9174827065', CAST(N'2023-05-18T00:00:00.000' AS DateTime), CAST(N'2022-10-19T00:00:00.000' AS DateTime), N'#20716f', 1, 633, 633, NULL, NULL)
GO
INSERT [dbo].[User] ([Id], [FirstName], [LastName], [PasswordHash], [Email], [Telephone], [CreatedAt], [ModifiedAt], [ChatColor], [IsDeleted], [CreatedBy], [ModifiedBy], [birthDate], [Image]) VALUES (870, N'Corissa', N'Landsberg', N'fC2&iCn\', N'clandsbergo5@umn.edu', N'7964011359', CAST(N'2023-03-08T00:00:00.000' AS DateTime), CAST(N'2022-11-13T00:00:00.000' AS DateTime), N'#5d83d3', 0, 870, 870, NULL, NULL)
GO
INSERT [dbo].[User] ([Id], [FirstName], [LastName], [PasswordHash], [Email], [Telephone], [CreatedAt], [ModifiedAt], [ChatColor], [IsDeleted], [CreatedBy], [ModifiedBy], [birthDate], [Image]) VALUES (938, N'Jessie', N'Shipperbottom', N'nN0}/?o+1(gI)*\', N'jshipperbottomq1@jiathis.com', N'5449959591', CAST(N'2023-06-20T00:00:00.000' AS DateTime), CAST(N'2022-09-04T00:00:00.000' AS DateTime), N'#a6928a', 1, 938, 938, NULL, NULL)
INSERT [dbo].[User] ([Id], [FirstName], [LastName], [PasswordHash], [Email], [Telephone], [CreatedAt], [ModifiedAt], [ChatColor], [IsDeleted], [CreatedBy], [ModifiedBy], [birthDate], [Image]) VALUES (996, N'Sallyann', N'Jouanot', N'rK7''#QU#xNUEXt~\', N'sjouanotrn@techcrunch.com', N'1527051919', CAST(N'2023-02-18T00:00:00.000' AS DateTime), CAST(N'2023-04-15T00:00:00.000' AS DateTime), N'#d75d9a', 1, 996, 996, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[User] OFF
GO
INSERT [dbo].[UserProducts] ([UserId], [ProductId], [AddDate], [Quantity]) VALUES (1036, 5, NULL, NULL)
INSERT [dbo].[UserProducts] ([UserId], [ProductId], [AddDate], [Quantity]) VALUES (1036, 6, NULL, NULL)
INSERT [dbo].[UserProducts] ([UserId], [ProductId], [AddDate], [Quantity]) VALUES (1039, 5, NULL, 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_Name]    Script Date: 8/23/2023 5:23:24 PM ******/
ALTER TABLE [dbo].[Role] ADD  CONSTRAINT [UC_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_User_Email]    Script Date: 8/23/2023 5:23:24 PM ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [UC_User_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (CONVERT([date],getdate())) FOR [birthDate]
GO
ALTER TABLE [dbo].[UserProducts] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK__Comment__Product__7D98A078] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK__Comment__Product__7D98A078]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK__Comment__UserId__7CA47C3F] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK__Comment__UserId__7CA47C3F]
GO
ALTER TABLE [dbo].[FavoriteProducts]  WITH CHECK ADD  CONSTRAINT [FK__FavoriteP__Produ__00750D23] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FavoriteProducts] CHECK CONSTRAINT [FK__FavoriteP__Produ__00750D23]
GO
ALTER TABLE [dbo].[FavoriteProducts]  WITH CHECK ADD  CONSTRAINT [FK__FavoriteP__UserI__7F80E8EA] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[FavoriteProducts] CHECK CONSTRAINT [FK__FavoriteP__UserI__7F80E8EA]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_ORDERDETAILS_USER] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_ORDERDETAILS_USER]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_ORDERITEMS_ORDERDETAILS] FOREIGN KEY([OrderId])
REFERENCES [dbo].[OrderDetails] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_ORDERITEMS_ORDERDETAILS]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_ORDERITEMS_PRODUCT] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_ORDERITEMS_PRODUCT]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_ORDERITEMS_USER] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_ORDERITEMS_USER]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_CURRENCY] FOREIGN KEY([CurrencyId])
REFERENCES [dbo].[Currency] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_PRODUCT_CURRENCY]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_DISCOUNT] FOREIGN KEY([ProductDiscount])
REFERENCES [dbo].[ProductDiscount] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_PRODUCT_DISCOUNT]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_USER_CB] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_PRODUCT_USER_CB]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_USER_MB] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_PRODUCT_USER_MB]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_ROLEPERMISSIONS_PERMISSIONS] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_ROLEPERMISSIONS_PERMISSIONS]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_ROLEPERMISSIONS_ROLE] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_ROLEPERMISSIONS_ROLE]
GO
ALTER TABLE [dbo].[UserAddress]  WITH CHECK ADD  CONSTRAINT [FK_USERADDRESS_ADDRESSLINE] FOREIGN KEY([AddressLineId])
REFERENCES [dbo].[AddressLine] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAddress] CHECK CONSTRAINT [FK_USERADDRESS_ADDRESSLINE]
GO
ALTER TABLE [dbo].[UserAddress]  WITH CHECK ADD  CONSTRAINT [FK_USERADDRESS_CITY] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAddress] CHECK CONSTRAINT [FK_USERADDRESS_CITY]
GO
ALTER TABLE [dbo].[UserAddress]  WITH CHECK ADD  CONSTRAINT [FK_USERADDRESS_COUNTRY] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAddress] CHECK CONSTRAINT [FK_USERADDRESS_COUNTRY]
GO
ALTER TABLE [dbo].[UserAddress]  WITH CHECK ADD  CONSTRAINT [FK_USERADDRESS_USER] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAddress] CHECK CONSTRAINT [FK_USERADDRESS_USER]
GO
ALTER TABLE [dbo].[UserDimensions]  WITH CHECK ADD  CONSTRAINT [FK_USERDIMENSIONS_DIMENSIONS] FOREIGN KEY([DimensionsId])
REFERENCES [dbo].[Dimensions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDimensions] CHECK CONSTRAINT [FK_USERDIMENSIONS_DIMENSIONS]
GO
ALTER TABLE [dbo].[UserDimensions]  WITH CHECK ADD  CONSTRAINT [FK_USERDIMENSIONS_USER] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDimensions] CHECK CONSTRAINT [FK_USERDIMENSIONS_USER]
GO
ALTER TABLE [dbo].[UserPayment]  WITH CHECK ADD  CONSTRAINT [FK_USERPAYMENT_PAYMENTTYPE] FOREIGN KEY([PaymentTypeId])
REFERENCES [dbo].[PaymentType] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPayment] CHECK CONSTRAINT [FK_USERPAYMENT_PAYMENTTYPE]
GO
ALTER TABLE [dbo].[UserPayment]  WITH CHECK ADD  CONSTRAINT [FK_USERPAYMENT_USER] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPayment] CHECK CONSTRAINT [FK_USERPAYMENT_USER]
GO
ALTER TABLE [dbo].[UserProducts]  WITH CHECK ADD  CONSTRAINT [FK__UserProdu__Produ__33F4B129] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserProducts] CHECK CONSTRAINT [FK__UserProdu__Produ__33F4B129]
GO
ALTER TABLE [dbo].[UserProducts]  WITH CHECK ADD  CONSTRAINT [FK__UserProdu__UserI__33008CF0] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserProducts] CHECK CONSTRAINT [FK__UserProdu__UserI__33008CF0]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK__UserRoles__RoleI__0AF29B96] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK__UserRoles__RoleI__0AF29B96]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK__UserRoles__UserI__0BE6BFCF] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK__UserRoles__UserI__0BE6BFCF]
GO
